<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="src/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portafolio</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light text-center">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Menu">
            <ul class="navbar-nav mr-auto nav">
                <li style="font-size: 25px;" class="nav-item active">
                    <a class="nav-link" href="#projects">My Work <span class="sr-only">(current)</span></a>
                </li>
                <li style="font-size: 25px;" class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>


    <section id="welcome-section">

        <div class="jumbotron">
            <h1 class="display-4 text-center">Welcome, to my page!</h1>
        </div>

    </section>

    <br>
    <section id="projects">
        <div id="app">
            <div class="container">
                {{ info[0] }}
                <div class="row">
                    <proyectos v-for="obj in info.proyectosHtml" :key="obj.id" v-bind:data="obj"></proyectos>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <proyectos v-for="obj in info.proyectosPhp" :key="obj.id" v-bind:data="obj">
                </div>
            </div>
            </proyectos>
        </div>
    </section>


    <hr>
    <footer>
        <section style="text-align:center" id="contact">
            <div class="jumbotron">
                <a class="navbar-brand" id="profile-link" target="_blank" href="https://github.com/pife00">
                    <i class="fa fa-github-alt" style="font-size:96px;"></i>
                    <h1>GitHub</h1>
                </a>
            </div>
        </section>
    </footer>

</body>

<script type="module" src="src/components/cards.js"></script>

</html>