body{
    background-color: #101;
    color: white;
    display: flexbox;
    font-family: 'Fira Sans', sans-serif;
}

.myNav {
    
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

nav{
    height: 60px;
    background-color: #101;
    padding-top: 15px;
}

.myNav a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    text-decoration-line: none; 
    margin: 30px;
}
.rows{
    margin-left: 5em;
    display: flex;
    width: 600px;
    flex-direction: row;  
}
img{
    width: 450px;
    height: 300px;
}
.project-tile{   
    background-color: #208075;
    margin: 10px;
    text-align: center;
    
}

a{
    text-decoration-line: none;
    color: white;
}
#welcome-section{
    height: 100vh;
}
.welcome{
    background-color: #208075;
    text-align: center; 
}
section h1{
    padding-top: 40vh;
    font-size: 5em;
}

@media(max-width:760px){
    nav{
        position: fixed;
        display: auto;
        padding-top: 15px;
    }
    section h1{
        padding-top: 40vh;
        font-size: 4em;
    }
    .welcome{
        display: auto;
        height: auto;
    }
    #projects{
        display: flex;
        flex-direction: column;
    }
    .rows{
        margin-left: 0px;
        display: flex;
        width:auto ;
        flex-direction: column;
    }
    img{
        width: 300px;
    }
}